*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
}
.solid{
  width: 400px;
  height: 500px;
  border: 1px solid;
  padding: 40px ;
}

.dotted{
  border: 1px dashed;
  margin: 20px;
  padding: 40px 0 40px 40px;
  line-height: 50px;
}

p{
  text-align: center;
  font-size: 30px;
}

span:hover{
   color: green;
}

h2{
  font-size: 32px;
}

li{
  font-weight: 600;
  margin-left: 23px;
}

li::marker {
  color: green;
  font-size: 20px;

}